.App {
  color: white;
  height: 840px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  margin-top: 50px;
  text-transform: uppercase;
}

footer {
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color:orange;
}