.App {

  background: linear-gradient(200deg, rgb(8, 13, 77) 15%, rgb(114, 79, 220) 100%); 
  color: white;
  height: 840px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  padding-top: 60px;
}

footer {
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color:orange;
}