.search-block {
    background-color: lavender;
}
.left-block {
    background-color: lightcyan
}
.main-block {
    background-color: lightsalmon;
}
.wind {
    background-color: lightblue;
}
.humidity {
    background-color: lightgoldenrodyellow;
}
.precipitation {
    background-color: lightgrey;
}
.right-block {
    background-color: lightgreen;
}
/* MAIN BLOCK */

.weather-block {
    border-radius: 8px;
    height: 370px;
}


/* FORECAST BLOCK */

